data/
raw_data
*.xlsx

data/
datasets/
*.sas7bdat

reports/
*.rtf

reports/
*.pdf

scripts/
*.sas

log/
*.log

code/
*.sas

final/
datasets/
*.sas7bdat

final/
code/
*.sas

final/
log/
*.log

final/
reports/
*.rtf

final/
reports/
*.pdf
